{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About-Us</title>
     <link rel="stylesheet" href="{% static '../static/css/about.css' %}">

    <script src="https://kit.fontawesome.com/a076d05399.js"></script>

</head>
<body>

<div class="container">
    <div class="social">
        <a href="https://github.com/nmn-gupta"> <i class="fab fa-github" aria-hidden="true" ></i></a>
    </div>
    <div class="social">
        <a href="https://www.instagram.com/naman2905/"><i aria-hidden="true" class="fab fa-instagram"></i></a>
    </div>
    <div class="social">
        <a href="https://www.facebook.com/profile.php?id=100006087823740"><i aria-hidden="true" class="fab fa-facebook"></i></a>
    </div>
    <div class="social">
        <a href="https://www.hackerrank.com/_181500410?hr_r=1"><i aria-hidden="true" class="fab fa-hackerrank"></i></a>
    </div>
    <div class="social">
        <a href="https://www.linkedin.com/in/naman-gupta-b766031ab"> <i aria-hidden="true" class="fab fa-linkedin"></i></a>
    </div>
    <img alt="" src="{% static '/images/profile_pictures/naman.jpg'%}">

</div>
</body>
</html>