{% extends "base.html" %}
{% load static %}

{% block head %}
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <title>InstantShop-About Us</title>
    <link rel="stylesheet" href="{% static '../static/css/about.css' %}">
{% endblock %}
    
{% block main %}
    <main>

    <div class="top">
        <h2>OUR MENTOR</h2>    
        <div class="mentor">
            <div class="card">
                <img src="{% static '/images/profile_pictures/anand_sir.jpg'%}" alt="">

                <div class="details">
                    <h2 style="text-align: center;">Anand Gupta</h2>
                    <div class="social-media-list">
                        <a href="https://www.linkedin.com/in/anand-gupta-2a226417/"><i class="fab fa-linkedin"></i></a>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="bottom">
        <h2>TEAM MEMBERS</h2>
        <div class="container">

            <div class="card">
                <img src="{% static '/images/profile_pictures/naman.jpg'%}" alt="">
                <div class="details">
                    <h2 style="text-align: center;">Naman Gupta</h2>
                    <div class="social-media-list">
                        <a href="https://www.facebook.com/profile.php?id=100006087823740" target="_blank"><i class="fab fa-facebook-f"></i></a>
                        <a href="https://www.linkedin.com/in/naman-gupta-b766031ab" target="_blank"><i class="fab fa-linkedin"></i></a>
                        <a href="https://github.com/nmn-gupta" target="_blank"><i class="fab fa-github"></i></a>
                    </div>
                </div>
            </div>


            <div class="card">
                <img src="{% static '/images/profile_pictures/tarun.jpg'%}" alt="">

                <div class="details">
                    <h2 style="text-align: center;">Tarun Raghav</h2>
                    <div class="social-media-list">
                    <a href="https://www.facebook.com/tarun.raghav.9887/"><i class="fab fa-facebook-f"></i></a>
                        <a href="https://www.linkedin.com/in/tarun-059a01185/"><i class="fab fa-linkedin"></i></a>
                        <a href="https://github.com/tarunraghav226"><i class="fab fa-github"></i></a>
                    </div>
                </div>
            </div>


            <div class="card">
                <img src="{% static '/images/profile_pictures/devesh.jpg'%}" alt="">
                <div class="details">
                    <h2 style="text-align: center;">Devesh Yadav</h2>
                    <div class="social-media-list">
                        <a href="https://www.facebook.com/profile.php?id=100009291003770"><i class="fab fa-facebook-f"></i></a>
                        <a href="https://www.linkedin.com/in/devesh-yadav-51a214191/"><i class="fab fa-linkedin"></i></a>
                        <a href="https://github.com/DEVESHYADAV99"><i class="fab fa-github"></i></a>
                    </div>
                </div>
            </div>

            <div class="card">
                <img src="{% static '/images/profile_pictures/nitin.jpg'%}" alt="">
                <div class="details">
                    <h2 style="text-align: center;">Nitin Pratap</h2>
                    <div class="social-media-list">
                        <a href="https://www.facebook.com/profile.php?id=100005392247698"><i class="fab fa-facebook-f"></i></a>
                        <a href="https://github.com/nitinpratapsingh"><i class="fab fa-github"></i></a>
                    </div>
                </div>
            </div>

            <div class="card">
                <img src="{% static '/images/profile_pictures/amber.jpg'%}" alt="">
                <div class="details">
                    <h2 style="text-align: center;">Amber Srivastav</h2>
                    <div class="social-media-list">
                        <a href="https://www.instagram.com/p/CDwW-hTJwhb/?igshid=ntr00q0zaah3"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            </div>
    </div>
    </div>
    </main>

{% endblock %}