{% extends "base.html" %}
{% load static %}

{% block head %}
    <title>InstantShop-Add-To-Cart</title>
    <link rel="stylesheet" href="{% static '../static/css/add-to-cart.css' %}">
{% endblock %}

{% block main %}
    <main>

        <h1>Your Cart</h1>

        <div class="main">

            <img src ="{% static '/images/dummy.jpg'%}">
            <h2>Titan Wrist Watch</h2>
            <p>this is a titan wrist watch.</p>
            <h3>$100</h3>
            <button>Buy Now</button>

        </div>

        <div class="main">

            <img src ="{% static '/images/dummy.jpg'%}">
            <h2>Titan Wrist Watch</h2>
            <p>this is a titan wrist watch.</p>
            <h3>$100</h3>
            <button>Buy Now</button>

        </div>

        <div class="main">

            <img src ="{% static '/images/dummy.jpg'%}">
            <h2>Titan Wrist Watch</h2>
            <p>this is a titan wrist watch.</p>
            <h3>$100</h3>
            <button>Buy Now</button>

        </div>


    </main>
{% endblock %}

