{% load static %}  
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/css/base.css' %}">
    <title>InstantShop - Home Page</title>
    {% block head %}
    {% endblock %}
</head>
<body>
    <div class="web-name">
        <span>Instant Shop</span>
    </div>
    <nav>
        <ul>
            <li>Home</li>
            <li>Shop</li>
            <li>About Us</li>
            <li>Login</li>
            <li>Sign Up</li>
        </ul>
    </nav>
    <main>
        {% block main %}
        {% endblock %}
    </main>
</body>
</html>