{% extends "base.html" %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static '../static/css/index.css' %}">
{% endblock %}
{% block main %}
    <main>
        <div class="desc">
            <h1>
                Instant Shop
            </h1><br><br>
            <span >Buy-n-Sell</span><br><br><br><br>
            <span ><a href="{% url 'shop' %}">Find out more</a></span>
        </div>
        <div class="image"> 
            
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                      <img src="{% static '/images/home-page/home-page1.jpg'%}" class="d-block" alt="first" >
                  </div>
                  <div class="carousel-item">
                    <img src="{% static '/images/home-page/home-page3.webp'%}" class="d-block" alt="second" >
                  </div>
                  <div class="carousel-item">
                    <img src="{% static '/images/home-page/home-page4.png'%}" class="d-block" alt="last" >
                  </div>
                </div>
              </div>
        </div>
    </main>
{% endblock %}