{% extends 'profile.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    <link rel="stylesheet" href="{% static 'css/previous-orders.css' %}">
    <title>InstantShop-Previous Orders</title>
{% endblock %}

{% block right_content%}
    <table>
        <caption>
            Previous Order Details
        </caption>
        <thead>
            <tr>
                <td>#</td>
                <td>Order ID</td>
                <td>Product Name</td>
                <td>Price</td>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ order.id }}</td>
                    <td>{{ order.product.name }}</td>
                    <td>&#8377;{{ order.product.price }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}