{% extends "base.html" %}
{% load static %}

{% block head %}
        <title>InstantShop-Product-View</title>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />

    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="stylesheet" href="{% static '../static/css/product-view.css' %}">

{% endblock %}
{% block main %}
    <main>

    </main>
{% endblock %}
