{% extends "base.html" %}
{% load static %}

{% block head %}
    <title>InstantShop-Product-View</title>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static '../static/css/product-view.css' %}">
{% endblock %}

{% block main %}

  <div class="main">
    <div class="product-data">
      <div class="product-image">
        <img alt="product image" src="{{ product.img1.url }}">
      </div>
      <div class="product-des">
        <span>{{ product.name }}</span>
        <span>{{ product.description }}</span>
        <h3>Features</h3>
        <span>{{ product.features }}</span>
        <div class="flex">
          <span style="color:navajowhite;" class="title-font font-medium text-2xl text-gray-900">&#8377; {{ product.price }}</span>
          <button class="flex ml-auto text-white bg-orange-500 border-0 py-2 px-6 focus:outline-none hover:bg-orange-600 rounded">Buy Now</button>
        </div>
        <form action="{% url 'chat-room' %}" method="POST">
          {% csrf_token %}
          <input id="userID" type="text" name="id" value="{{ product.user.id }}" hidden>
          <button type="submit" class="flex ml-auto text-white bg-purple-500 border-0 py-2 px-6 focus:outline-none hover:bg-purple-600 rounded" style="margin-top: 20px;">Chat With Seller</button>
        </form>  
      </div>
    </div>
    <div class="product-comments">
      <h1>Comments</h1>
      <hr style="border: 1px solid blanchedalmond;">
      
      {% if user.is_authenticated %}
        <form action="{% url 'add-comment' product.id %}" method="GET">
          <label for="comment">Add your comment : </label>
          <textarea name="comment" id="comment" cols="30" rows="4" class="form-control" placeholder="Your comment here."></textarea>
          <button type="submit">Add</button>
        </form>
        <hr style="border: 1px solid blanchedalmond;">
      {% endif %}

      {% if comments %}
        {% for comment in comments %}
          <div class="comments">
              <img  src="{{ comment.comment_done_by.photo.url }}">
              <h3>
                <b>{{ comment.comment_done_by.user.first_name }}</b>
                <p>{{ comment.date_of_comment }}</p>
              </h3>
              <p> {{ comment.comment }}  </p>
              <hr style="border: 1px solid blanchedalmond;">
          </div>
        {% endfor %}
      {% else %}
          <h1 style="font-size: larger;font-weight: bold; color: blanchedalmond;">No comments on this product so far.</h1>
      {% endif %}
    </div>
  </div>
{% endblock %}