{% extends "base.html" %}
{% load static %}

{% block head %}
    <title>InstantShop-Product-View</title>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static '../static/css/product-view.css' %}">
{% endblock %}

{% block main %}

  <div class="main">
    <div class="product-data">
      <div class="product-image">
        <img alt="product image" src="{{ product.img1.url }}">
      </div>
      <div class="product-des">
        <span>{{ product.name }}</span>
        <span>{{ product.description }}</span>
        <h3>Features</h3>
        <span>{{ product.features }}</span>
        <div class="flex">
          <span style="color:navajowhite;" class="title-font font-medium text-2xl text-gray-900">&#8377; {{ product.price }}</span>
          <button class="flex ml-auto text-white bg-orange-500 border-0 py-2 px-6 focus:outline-none hover:bg-orange-600 rounded">Buy Now</button>
        </div>
      </div>
    </div>
    <div class="product-comments">
      <h1>Comments</h1>
      <hr style="border: 1px solid blanchedalmond;">
      
      <div class="comments">
          <img  src="{% static '/images/dummy.jpg'%}">
          <h3>
            <b>Naman</b>
            <p>30<sup>th</sup>Oct 2020</p>
          </h3>
          <p>excellent working  </p>
          <hr style="border: 1px solid blanchedalmond;">
      </div>

    </div>
  </div>
{% endblock %}