{% extends 'base.html' %}
{% load static %}

{% block head %}
    <title>InstantShop-Profile</title>
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}

{% block main %}
    <div class="main">
        <div class="left-content">
            <div class="image">
                <img src="../static/images/default-user-image.png" alt="">
            </div>
            <div class="user-details">
                <p> {{user.first_name}} </p>
                <p>
                    Username: 
                    <span>{{ user.username }}</span>
                </p>
            </div>
            <a href="{% url 'profile' %}">Dashboard</a>
            <a href="{% url 'upload-product' %}">Upload A New Product</a>
            <a href="{% url 'previous-orders' %}">Previous Orders</a>
            <a href="{% url 'uploaded-products' %}">See uploaded products</a>
        </div>
        <div class="right-content">
            {% block right_content%}
                <div class="data">
                        <div class="container">
                            <span class="label">Total Products Purchased: </span>
                            <span class="result">23</span>
                        </div>

                        <div class="container">
                            <span class="label">Total Products Uploaded: </span>
                            <span class="result">34</span>
                        </div>
                        
                        <div class="container">
                            <span class="label">Total Products Available: </span>
                            <span class="result">343</span>
                        </div>

                        <div class="container">
                            <span class="label">Total Users: </span>
                            <span class="result">123</span>
                        </div>
                </div>
            {% endblock %}
        </div>
    </div>
    <script>
        var containers = document.getElementsByClassName("result");
        delay();

        function delay(){
            for(var i=0;i < containers.length; i++){
                var value = Number(containers[i].innerHTML);
                animateValue(containers[i],0, value, 1000);
            }
        }

        function animateValue(obj, start, end, duration) {
            let startTimestamp = null;
            const step = (timestamp) => {
                if (!startTimestamp) startTimestamp = timestamp;
                const progress = Math.min((timestamp - startTimestamp) / duration, 1);
                obj.innerHTML = Math.floor(progress * (end - start) + start);
                if (progress < 1) {
                    window.requestAnimationFrame(step);
                }
            };
            window.requestAnimationFrame(step);
        }
    </script>
{% endblock %}-