main{
       background-color: rgb(43, 22, 22);

}

.mentor{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.top{padding-top: 20px;}
.bottom{margin-top: 20px;}

.top > h2{
    font-weight: bold;
    text-align: center;
    color: white;
}

 .bottom > h2{
     font-weight: bold;
     text-align: center;
     color: white;
 }

.container{
    display: flex;
    justify-content: center ;
    flex-wrap: wrap;
}

.card{
    width: 200px; height: 300px;
    margin: 10px;
    cursor: pointer;
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
    position: relative;
    overflow: hidden;
}

.card img{
    width: 100%; height: 100%;
    object-fit: cover;
    transition: all 0.3s;
}

.details{
    position: absolute;
    bottom: 0; left: 0;
    background-color: #fff;
    width: 100%;
/*        padding: 10px 40px;*/
    transform: translateY(100%);
    transition: all 0.3s;

}

.social-media-list{
    text-align: center;
}

.details h2{
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    color: #565656;
    letter-spacing: 1px;
}

.details a{
    display: inline-block;
    padding-top: 10px;
    margin-left: 15px;
    color: #565656;
    transform: translateY(50px);
    transition: all 0.3s;
}

.details a:first-child{
    transition-delay: 0.1s;
}

.details a:nth-child(2){
    transition-delay: 0.2s;
}

.details a:last-child{
    transition-delay: 0.3s;
}

.card:hover img{
    transform: scale(1.2);
}

.card:hover .details, .card:hover .details a{
    transform: none;
}

@media only screen and  (max-width:360px){

    .card{
        width: auto;
        flex-basis: 100%;
    }

    .details h2, .details a{
        font-size: 14px;
    }

}


