
        main {
            background-color: rgb(43, 22, 22);
        }
        h1{
            margin-left: 45%;
            margin-top: 50px;
        }
        .main{
            display: flex;
            border: 1px solid lightgoldenrodyellow;
        }
        .main img{
            width: 50px;
            height: 50px;
            margin-left: 400px;
            margin-top:60px;
        }
        .main h2{
            margin-left:50px;
            margin-top:50px;
        }
        .main p{
            margin-left:-190px;
            margin-top:80px;
        }
        .main h3{
            margin-left:-320px;
            margin-top:150px;
        }
        .main button{
            margin-left:150px;
            margin-top:150px;
            width: 70px;
            height: 30px;
            background-color: burlywood;
            outline: none;
        }